body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    .navbar-brand{
        font-weight: bold;
    }
}

.kategori{
    .icon{
        width: 100px;
    }
    p{
        margin-top: 15px;
        font-weight: bold;
    }
}

.product1{
    img{
        margin-top: 20px;
    }
}

.product2{
    img{
        margin-top: 20px;
    }
}

.metode{
    background-color: rgb(228, 228, 228);
    padding: 50px 0 20px 0;
}

footer{
    margin-top: 50px;
}